In [1]:
# Create a Spark Session
from pyspark.sql import SparkSession
spark = (
        SparkSession.builder.appName("Jupyter Sample Application")
        .getOrCreate()
    )

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 09:16:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 09:16:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# Run Spark SQL 
spark.sql("select 1").show()

+---+
|  1|
+---+
|  1|
+---+

We can  also run Spark SQL directly with the `%%sql` magic.

In [ ]:
%%sql
select 1

In [ ]:
%%sql
show schemas;

Let's create a schema and a table.

In [ ]:
%%sql
create schema sample;

In [ ]:
%%sql
create table sample.employee (
    id integer,
    name string
)

In [ ]:
%%sql
describe extended sample.employee;

We can see from the `Table Properties` that this table is of the `iceberg` format. Let's insert some data.

In [ ]:
%%sql
INSERT INTO sample.employee VALUES 
  (1, 'John Smith'),
  (2, 'Sarah Johnson'),
  (3, 'Mike Davis');

If you open minio in your browser by opening [localhost:9001](http://localhost:9001) and login with username: admin and password: password you will be able to see the table data.

In [3]:
spark.stop()